pre { 
  font-family: monospace; 
  font-size: 15px; 
  border: none; 
  line-height: 20px; 
  display: inline-block;
  position: absolute;
}
#prePanel {
  font-family: monospace;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border: 1.5px solid black;
  padding: 10px;
  width: 150px;
  margin-bottom: 20px;
}
button:hover {
  border: 1.5px solid dimgrey;
}
button:active {
  color: grey;
  border: 1.5px solid grey;
  transform: scale(0.95);
}
h1 {
  font-family: monospace;
  font-size: 50px;
  margin-top: 15vh;
}
a {
  text-decoration: none;
  color: black;
}
#computercards {
  position: fixed;
  width: 1000px;
  height: 200px;
  top: 75px;
  left: 300px;
}
#playercards {
  position: fixed;
  height: 200px;
  width: 1000px;
  top: calc(100vh - 250px);
  left: 300px;
}
#controls {
  z-index: 100;
  position: fixed;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  top: calc(100vh - 350px);
  left: 50px;
}
#terminal {
  overflow: scroll;
  z-index: 100;
  position: fixed;
  border: 1px solid black;
  height: 180px;
  width: 180px;
  top: 150px;
  left: 50px;
  font-family: monospace;
  padding: 10px;
}
#name {
  font-family: monospace;
  font-size: 42px;
  margin-top: 20%;
}
.playbtn {
  margin-top: 20px;
  border: 3px solid black;
  font-weight: 700;
}
.playbtn:hover {
  border: 3px solid dimgrey;
}
#money {
  position: fixed;
  top: 20px;
  left: 30px;
  font-family: monospace;
  font-size: 24px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid black;
  height: 50px;
  width: 180px;
  top: 50px;
  left: 50px;
  font-family: monospace;
  padding: 10px;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#closeshop {
  position: relative;
  top: 10px;
  left: calc(100vw - 180px);
}
#gallery {
  position: fixed;
  width: 50vw;
  left: 120px;
  top: 110px;
  height: 80%;
}
#preview {
  position: fixed;
  border: 2px solid black;
  width: 30vw;
  top: 100px;
  left: calc(60vw);
  height: 80%;
}
.shop-icon {
  width: 100px;
  height: 100px;
  border: 1.5px solid black;
  margin: 6px;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 100px;
  font-family: monospace;
  user-select: none;
}
.shop-icon:hover {
  position: relative;
  transform: scale(1.01);
  border: 1.5px solid dimgrey;
  cursor: pointer;
}
.shop-icon:active {
  position: relative;
  transform: scale(0.98);
  border: 1.5px solid darkgrey;
}
@media only screen and (max-width: 1000px) {
  #computercards {
    left: 150px;
  } 
  #playercards {
    left: 150px;
    top: calc(100vh - 400px);
  }
}
@media only screen and (max-height: 700px) {
  #terminal {
    top: 75px;
  }
  #controls {
    top: calc(100vh - 250px);
  }
  #player-cards {
    top: 50px;
  }
}
#reset {
  position: fixed;
  top: 95vh;
  left: 97vw;
}
#reset:hover {
  transform: scale(1.1);
}
#reset:active {
  transform: scale(0.9);
}
.shop-icon img {
  width: 50px;
  margin-bottom: 15px;
}
.selected {
  position: relative;
  transform: scale(0.98);
  border: 1.5px solid darkgrey;
}
.locked {
  position: relative;
  transform: scale(1);
  border: 1.5px solid darkgrey;
}
.shop-icon.selected:hover {
  position: relative;
  transform: scale(0.98);
  border: 1.5px solid darkgrey;
  cursor: auto;
}
.shop-icon.locked:hover {
  position: relative;
  transform: scale(1);
  border: 1.5px solid darkgrey;
  cursor: auto;
}
.heading {
  margin-top: 165px;
  font-size: 30px;
  font-family: monospace;
  font-weight: 600;
}
.bold {
  font-weight: 900;
}
.description {
  font-family: monospace;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 15px;
}
#version {
  position: fixed;
  font-family: monospace;
  top: 17px;
  left: 92vw;
}
img, #prePanel, pre {
  user-select: none;
}